name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


env:

  IMAGE_NAME: ${{ github.repository_owner }}/${{ github.event.repository.name }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: pytest

  build:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/$IMAGE_NAME:${{ github.sha }} .
          docker push ghcr.io/$IMAGE_NAME:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Set K8s context
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }} 


      - name: Deploy to Kubernetes
        run: |
          sed -i "s|image: .*|image: ghcr.io/$IMAGE_NAME:${{ github.sha }}|g" .kubernetes/deployment.yaml
          
          echo "Applying manifest:"
          cat .kubernetes/deployment.yaml
          
          kubectl apply -f .kubernetes/deployment.yaml
          
          kubectl rollout status deployment/fastapi-app